body{
  max-width: 1000px;
  margin: 3em auto;
  background-color: #CFE9F5;
  color: #555555
}

a{
     color: #9B3425;
     border-bottom: 0px dotted;
     text-decoration: none;
     font-family: 'Shadows Into Light Two', cursive;
     font-size: 20px;
     margin-bottom: 2px;
     margin-top: 7px;
   }

a:hover{
     border-bottom-style: solid;
     color: black;
   }

h1{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 48px;
  margin-bottom: 10px;
}

h2{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  margin-bottom: 0px;
}

h3{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 28px;
  margin-bottom: 0px;
  text-align: left;
}
h4{
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  margin-bottom: 0px;
}

img{
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.flex-container-experience {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.flex-container-education {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
  text-align: left;
}


.title {
  text-align: center;
  }
  #hw1{
    text-align: center;
  }
